{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{form_name|capfirst}}</legend>
               {{form|crispy}}
               
            </fieldset>
            <div class="form-group">
                <h6 class="text-danger">Do you want to delete {{form_name}}?</h6>
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a  href="{%url 'movies-index'%}"><span class="btn btn-outline-info mx-3">Cancel</span></a>
            </div>
        </form>
    </div>
{% endblock content %}