{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

        <form method="POST" id="moviesForm"  novalidate enctype="multipart/form-data" >
            {% csrf_token %}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{form_name|capfirst}}</legend>
               <div class="form-group">
                    {{form.name|as_crispy_field}}
                    {{form.country|as_crispy_field}}
                    {{form.story_line|as_crispy_field}}
                   {{form.cost|as_crispy_field}}
                   {{form.release_date|as_crispy_field}}
                   {{form.imdb_rating|as_crispy_field}}
                   {{form.imdb_link|as_crispy_field}}
                   {{form.trailer_link|as_crispy_field}}
                   {{form.quality|as_crispy_field}}
                   {{form.movies_type|as_crispy_field}}
                   {{form.movies_thumbnail|as_crispy_field}}

                   <label for="id_cast" class="col-form-label  requiredField" id="id_cast_ajax" ajax_load_cast="{% url 'ajax_load_cast' %}">Cast<span class="asteriskField">*</span> </label> 
                   <div id="show_result"></div>
                   <div class=""> <input type="text" name="cast" value="" maxlength="50" class="textinput textInput form-control" required="" id="id_cast" autocomplete="off"> 
                    <select id="add_cast"  multiple style="width:100%;" ></select>



                    <label for="id_genre" class="col-form-label  requiredField" id="id_genre_ajax" ajax_load_genre="{% url 'ajax_load_genre' %}">Genre<span class="asteriskField">*</span> </label> 
                   <div id="show_result_genre"></div>
                   <div class=""> <input type="text" name="genre" value="" maxlength="50" class="textinput textInput form-control" required="" id="id_genre" autocomplete="off"> 
                    <select id="add_genre"  multiple style="width:100%;" ></select>


                    <label for="id_director" class="col-form-label  requiredField" id="id_director_ajax" ajax_load_director="{% url 'ajax_load_director' %}">Director<span class="asteriskField">*</span> </label> 
                   <div id="show_result_director"></div>
                   <div class=""> <input type="text" name="director" value="" maxlength="50" class="textinput textInput form-control" required="" id="id_director" autocomplete="off"> 
                    <select id="add_director"  multiple style="width:100%;" ></select>


                    <label for="id_writer" class="col-form-label  requiredField" id="id_writer_ajax" ajax_load_writer="{% url 'ajax_load_writer' %}">Writer<span class="asteriskField">*</span> </label> 
                   <div id="show_result_writer"></div>
                   <div class=""> <input type="text" name="writer" value="" maxlength="50" class="textinput textInput form-control" required="" id="id_writer" autocomplete="off" > 
                    <select id="add_writer"  multiple style="width:100%;" ></select>
                    
                 <label for="id_award" class="col-form-label  requiredField" id="id_award_ajax" ajax_load_award="{% url 'ajax_load_award' %}">Award<span class="asteriskField">*</span> </label> 
                   <div id="show_result_award"></div>
                   <div class=""> <input type="text" name="award" value="" maxlength="50" class="textinput textInput form-control" required="" id="id_award" autocomplete="off" > 
                    <select id="add_award"  multiple style="width:100%;" ></select>



                <label for="id_language" class="col-form-label  requiredField" id="id_language_ajax" ajax_load_language="{% url 'ajax_load_language' %}">Language<span class="asteriskField">*</span> </label> 
                   <div id="show_result_language"></div>
                   <div class=""> <input type="text" name="language" value="" maxlength="50" class="textinput textInput form-control" required="" id="id_language" autocomplete="off" > 
                    <select id="add_language"  multiple style="width:100%;" ></select>


                   </div> 
                   


                </div>
                <div id="" class="form-group">
                    
                </div>
               
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% block js%}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>

    //start of cast 
    document.getElementById("add_cast").style.display = "none";
    var castResult=[];
    var castResult_id=[];
    $("#id_cast").keyup(function () {
      var url = $("#id_cast_ajax").attr("ajax_load_cast");
      var text_input = $('#id_cast').val();
      if (text_input!==""){
         $.ajax({
                url: url,
                data: {
                  'text_input': text_input
                },
                success: function (data) {
                  $("#add_cast").html(data);            
                }
              });
      } 
    document.getElementById("add_cast").style.display = "block";
    $("#add_cast").on('change', function() {
    var selectedItems = $(this).find("option:selected");
    if (selectedItems.length >= 1)  {
    var e = document.getElementById("add_cast");
    if(e!==""){
         var strcast_text = e.options[e.selectedIndex].text;
        var strcast_id=e.options[e.selectedIndex].value

        if (castResult_id.indexOf(strcast_id) === -1) castResult_id.push(strcast_id);
        if (castResult.indexOf(strcast_text) === -1) castResult.push(strcast_text);
        console.log(castResult,castResult_id); 

        show_result_function();

        function show_result_function(){
            $("#show_result").empty();
            for( var i = 0; i < castResult_id.length; i++){   
            $("#show_result").append("<div class='selected_result'>"+castResult[i]+"<span class='cast_show_result' id="+castResult_id[i]+" value="+castResult_id[i]+" style='cursor:pointer;'>*</span></div>");
            sceSelect();
            }

        }
        
        function sceSelect() {
            console.log(this.id);
             for( var i = 0; i < castResult_id.length; i++){ 
               if ( castResult_id[i] === this.id) {
                 castResult_id.splice(i, 1);
                 castResult.splice(i, 1);
                 show_result_function();
               }
            }
            var spans = document.getElementsByClassName('cast_show_result');
                    for (var i = 0, len = spans.length; i < len; i++) {
                        spans[i].onclick = sceSelect;
                    }
        }
    }       
    }  
    });  
    });

    //end of cast
    //start of genre
    document.getElementById("add_genre").style.display = "none";
    var genreResult=[];
    var genreResult_id=[];
    $("#id_genre").keyup(function () {
      var url = $("#id_genre_ajax").attr("ajax_load_genre");
      var text_input = $('#id_genre').val();
      if (text_input!==""){
         $.ajax({
                url: url,
                data: {
                  'text_input': text_input
                },
                success: function (data) {
                  $("#add_genre").html(data);            
                }
              });
      } 
    document.getElementById("add_genre").style.display = "block";
    $("#add_genre").on('change', function() {
    var selectedItems = $(this).find("option:selected");
    if (selectedItems.length >= 1)  {
    var e = document.getElementById("add_genre");
    if(e!==""){
         var strgenre_text = e.options[e.selectedIndex].text;
        var strgenre_id=e.options[e.selectedIndex].value

        if (genreResult_id.indexOf(strgenre_id) === -1) genreResult_id.push(strgenre_id);
        if (genreResult.indexOf(strgenre_text) === -1) genreResult.push(strgenre_text);
        console.log(genreResult,genreResult_id); 

        show_result_function();

        function show_result_function(){
            $("#show_result_genre").empty();
            for( var i = 0; i < genreResult_id.length; i++){   
            $("#show_result_genre").append("<div class='selected_result'>"+genreResult[i]+"<span class='genre_show_result' id="+genreResult_id[i]+" value="+genreResult_id[i]+" style='cursor:pointer;'>*</span></div>");
            sceSelect();
            }

        }
        
        function sceSelect() {
            console.log(this.id);
             for( var i = 0; i < genreResult_id.length; i++){ 
               if ( genreResult_id[i] === this.id) {
                 genreResult_id.splice(i, 1);
                 genreResult.splice(i, 1);
                 show_result_function();
               }
            }
            var spans = document.getElementsByClassName('genre_show_result');
                    for (var i = 0, len = spans.length; i < len; i++) {
                        spans[i].onclick = sceSelect;
                    }
        }
    }       
    }  
    });  
    });
    //end of genre 
    // start of director
    document.getElementById("add_director").style.display = "none";
    var directorResult=[];
    var directorResult_id=[];
    $("#id_director").keyup(function () {
      var url = $("#id_director_ajax").attr("ajax_load_director");
      var text_input = $('#id_director').val();
      if (text_input!==""){
         $.ajax({
                url: url,
                data: {
                  'text_input': text_input
                },
                success: function (data) {
                  $("#add_director").html(data);            
                }
              });
      } 
    document.getElementById("add_director").style.display = "block";
    $("#add_director").on('change', function() {
    var selectedItems = $(this).find("option:selected");
    if (selectedItems.length >= 1)  {
    var e = document.getElementById("add_director");
    if(e!==""){
         var strdirector_text = e.options[e.selectedIndex].text;
        var strdirector_id=e.options[e.selectedIndex].value

        if (directorResult_id.indexOf(strdirector_id) === -1) directorResult_id.push(strdirector_id);
        if (directorResult.indexOf(strdirector_text) === -1) directorResult.push(strdirector_text);
        console.log(directorResult,directorResult_id); 

        show_result_function();

        function show_result_function(){
            $("#show_result_director").empty();
            for( var i = 0; i < directorResult_id.length; i++){   
            $("#show_result_director").append("<div class='selected_result'>"+directorResult[i]+"<span class='director_show_result' id="+directorResult_id[i]+" value="+directorResult_id[i]+" style='cursor:pointer;'>*</span></div>");
            sceSelect();
            }

        }
        
        function sceSelect() {
            console.log(this.id);
             for( var i = 0; i < directorResult_id.length; i++){ 
               if ( directorResult_id[i] === this.id) {
                 directorResult_id.splice(i, 1);
                 directorResult.splice(i, 1);
                 show_result_function();
               }
            }
            var spans = document.getElementsByClassName('director_show_result');
                    for (var i = 0, len = spans.length; i < len; i++) {
                        spans[i].onclick = sceSelect;
                    }
        }
    }       
    }  
    });  
    });


    //end of director
    //start of writer
    document.getElementById("add_writer").style.display = "none";
    var writerResult=[];
    var writerResult_id=[];
    $("#id_writer").keyup(function () {
      var url = $("#id_writer_ajax").attr("ajax_load_writer");
      var text_input = $('#id_writer').val();
      if (text_input!==""){
         $.ajax({
                url: url,
                data: {
                  'text_input': text_input
                },
                success: function (data) {
                  $("#add_writer").html(data);            
                }
              });
      } 
    document.getElementById("add_writer").style.display = "block";
    $("#add_writer").on('change', function() {
    var selectedItems = $(this).find("option:selected");
    if (selectedItems.length >= 1)  {
    var e = document.getElementById("add_writer");
    if(e!==""){
         var strwriter_text = e.options[e.selectedIndex].text;
        var strwriter_id=e.options[e.selectedIndex].value

        if (writerResult_id.indexOf(strwriter_id) === -1) writerResult_id.push(strwriter_id);
        if (writerResult.indexOf(strwriter_text) === -1) writerResult.push(strwriter_text);
        console.log(writerResult,writerResult_id); 

        show_result_function();

        function show_result_function(){
            $("#show_result_writer").empty();
            for( var i = 0; i < writerResult_id.length; i++){   
            $("#show_result_writer").append("<div class='selected_result'>"+writerResult[i]+"<span class='writer_show_result' id="+writerResult_id[i]+" value="+writerResult_id[i]+" style='cursor:pointer;'>*</span></div>");
            sceSelect();
            }

        }
        
        function sceSelect() {
            console.log(this.id);
             for( var i = 0; i < writerResult_id.length; i++){ 
               if ( writerResult_id[i] === this.id) {
                 writerResult_id.splice(i, 1);
                 writerResult.splice(i, 1);
                 show_result_function();
               }
            }
            var spans = document.getElementsByClassName('writer_show_result');
                    for (var i = 0, len = spans.length; i < len; i++) {
                        spans[i].onclick = sceSelect;
                    }
        }
    }       
    }  
    });  
    });

    //end of writer
    // start of award
    document.getElementById("add_award").style.display = "none";
    var awardResult=[];
    var awardResult_id=[];
    $("#id_award").keyup(function () {
      var url = $("#id_award_ajax").attr("ajax_load_award");
      var text_input = $('#id_award').val();
      if (text_input!==""){
         $.ajax({
                url: url,
                data: {
                  'text_input': text_input
                },
                success: function (data) {
                  $("#add_award").html(data);            
                }
              });
      } 
    document.getElementById("add_award").style.display = "block";
    $("#add_award").on('change', function() {
    var selectedItems = $(this).find("option:selected");
    if (selectedItems.length >= 1)  {
    var e = document.getElementById("add_award");
    if(e!==""){
         var straward_text = e.options[e.selectedIndex].text;
        var straward_id=e.options[e.selectedIndex].value

        if (awardResult_id.indexOf(straward_id) === -1) awardResult_id.push(straward_id);
        if (awardResult.indexOf(straward_text) === -1) awardResult.push(straward_text);
        console.log(awardResult,awardResult_id); 

        show_result_function();

        function show_result_function(){
            $("#show_result_award").empty();
            for( var i = 0; i < awardResult_id.length; i++){   
            $("#show_result_award").append("<div class='selected_result'>"+awardResult[i]+"<span class='award_show_result' id="+awardResult_id[i]+" value="+awardResult_id[i]+" style='cursor:pointer;'>*</span></div>");
            sceSelect();
            }

        }
        
        function sceSelect() {
            console.log(this.id);
             for( var i = 0; i < awardResult_id.length; i++){ 
               if ( awardResult_id[i] === this.id) {
                 awardResult_id.splice(i, 1);
                 awardResult.splice(i, 1);
                 show_result_function();
               }
            }
            var spans = document.getElementsByClassName('award_show_result');
                    for (var i = 0, len = spans.length; i < len; i++) {
                        spans[i].onclick = sceSelect;
                    }
        }
    }       
    }  
    });  
    });
    //end of award
    // start of language
    document.getElementById("add_language").style.display = "none";
    var languageResult=[];
    var languageResult_id=[];
    $("#id_language").keyup(function () {
      var url = $("#id_language_ajax").attr("ajax_load_language");
      var text_input = $('#id_language').val();
      if (text_input!==""){
         $.ajax({
                url: url,
                data: {
                  'text_input': text_input
                },
                success: function (data) {
                  $("#add_language").html(data);            
                }
              });
      } 
    document.getElementById("add_language").style.display = "block";
    $("#add_language").on('change', function() {
    var selectedItems = $(this).find("option:selected");
    if (selectedItems.length >= 1)  {
    var e = document.getElementById("add_language");
    if(e!==""){
         var strlanguage_text = e.options[e.selectedIndex].text;
        var strlanguage_id=e.options[e.selectedIndex].value

        if (languageResult_id.indexOf(strlanguage_id) === -1) languageResult_id.push(strlanguage_id);
        if (languageResult.indexOf(strlanguage_text) === -1) languageResult.push(strlanguage_text);
        console.log(languageResult,languageResult_id); 

        show_result_function();

        function show_result_function(){
            $("#show_result_language").empty();
            for( var i = 0; i < languageResult_id.length; i++){   
            $("#show_result_language").append("<div class='selected_result'>"+languageResult[i]+"<span class='language_show_result' id="+languageResult_id[i]+" value="+languageResult_id[i]+" style='cursor:pointer;'>*</span></div>");
            sceSelect();
            }

        }
        
        function sceSelect() {
            console.log(this.id);
             for( var i = 0; i < languageResult_id.length; i++){ 
               if ( languageResult_id[i] === this.id) {
                 languageResult_id.splice(i, 1);
                 languageResult.splice(i, 1);
                 show_result_function();
               }
            }
            var spans = document.getElementsByClassName('language_show_result');
                    for (var i = 0, len = spans.length; i < len; i++) {
                        spans[i].onclick = sceSelect;
                    }
        }
    }       
    }  
    });  
    });

    //end of language















  </script>












{% endblock js%}
{% endblock content %}