{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block css%}
<style type="text/css">
.sidebar{
    display:none;
}
.main-content{
    flex:auto;
    max-width:100%;
}


</style>


{% endblock %}


{% block content %}
    <div class="content-section ">
        <div class="row ">
            <nav aria-label="breadcrumb ">
              <ol class="breadcrumb  mx-2 px-0 my-1.5 bg-white">
                <li class="breadcrumb-item"><a href="{%url 'movies-index'%}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>
        </div>
        <div class="row ">
            <div class="col col-md-2 mx-2 px-0 text-left my-2">
               
                <img  class="img-fluid img-thumbnail rounded w-auto  h-auto" src="../../media/{{movies_details.0.movies_thumbnail}}">

               
            </div>
            <div class="col-md-9   my-2">
              <h5 class="d-inline-block  text-justify text-nowrap text-truncate py-1 m-0">{{movies_details.0.name|capfirst}} </h5>
              <p class="pd-0 m-0  rounded text-secondary">Cast: {% for cast in movies_details.0.cast.all %}{% if not forloop.first %} {% endif %}<a class="no-underline" href="{% url 'cast-detail' cast_name=cast.cast_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{cast|join:""}}</span></a>{%endfor%}</p>

              <p class="pd-0 m-0  rounded text-secondary">Genre: {%for genre in movies_details.0.genre.all %}{% if not forloop.first %} {% endif %}<a class="no-underline" href="{% url 'genre-detail' genre_name=genre.genre_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{genre|join:""}}</span></a>{%endfor%}</p>

              <p class="pd-0 m-0  rounded text-secondary">Director: {%for director in movies_details.0.director.all%}{% if not forloop.first %} {% endif %}<a class="no-underline" href="{% url 'director-detail' director_name=director.director_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{director|join:""}}</span></a>{%endfor%}</p>

              <p class="pd-0 m-0  rounded text-secondary">Writer: {%for writer in movies_details.0.writer.all %}{% if not forloop.first %} {% endif %}<a class="no-underline" href="{% url 'writer-detail' writer_name=writer.writer_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{writer|join:""}}</span></a>{%endfor%}</p>


              <p class="pd-0 m-0  rounded text-secondary">Awards: {%for award in movies_details.0.awards.all %}{% if not forloop.first %} {% endif %}<a class="no-underline" href="{% url 'award-detail' award_name=award.award_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{award|join:""}}</span></a>{%endfor%}</p>

              
              <p class="pd-0 m-0  rounded text-secondary">Country: <a class="no-underline" href="{% url 'country-detail' country_name=movies_details.0.country.country_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{movies_details.0.country.country_name}}</span></a></p>

              <p class="pd-0 m-0  rounded text-secondary">Language: {%for language in movies_details.0.language.all %}{% if not forloop.first %} {% endif %}<a class="no-underline" href="{% url 'language-detail' language_name=language.language_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{language|join:""}}</a></span>{%endfor%}</p>

              <p class="pd-0 m-0  rounded text-secondary">Quality: <a class="no-underline" href="{% url 'quality-detail' quality_name=movies_details.0.Quality.quality_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{movies_details.0.Quality.quality_name}}</span></a></p>

              <p class="pd-0 m-0  rounded text-secondary">Movies type : <a class="no-underline" href="{% url 'movies_type-detail' movies_type_name=movies_details.0.movies_type.movies_type_name %}"><span class="bg-primary rounded px-1 text-white mr-1">{{movies_details.0.movies_type.movies_type_name}}</span></a></p>
            </div>
            
        </div> 


    </div>


{% endblock content %}