{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

        <form method="POST" id="moviesForm" ajax_load_cast="{% url 'ajax_load_cast' %}" novalidate enctype="multipart/form-data" >
            {% csrf_token %}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{form_name|capfirst}}</legend>
               <div class="form-group">
                    {{form.name|as_crispy_field}}
                    {{form.country|as_crispy_field}}
                    {{form.story_line|as_crispy_field}}
                   {{form.cost|as_crispy_field}}
                   {{form.release_date|as_crispy_field}}
                   {{form.imdb_rating|as_crispy_field}}
                   {{form.imdb_link|as_crispy_field}}
                   {{form.trailer_link|as_crispy_field}}
                   {{form.quality|as_crispy_field}}
                   {{form.movies_type|as_crispy_field}}
                   {{form.movies_thumbnail|as_crispy_field}}

                   <label for="id_cast" class="col-form-label  requiredField">Cast<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="cast" value="" maxlength="50" class="textinput textInput form-control" required="" id="id_cast"> 
                    <select id="add_cast2" multiple style="width:100%" ></select>
                    <div id="show_result"></div>



                   </div> 
                   


                </div>
                <div id="" class="form-group">
                    
                </div>
               
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% block js%}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>

    var ajaxResult=[];
    $("#id_cast").keyup(function () {
      var url = $("#moviesForm").attr("ajax_load_cast");
      var text_input = $('#id_cast').val();

      $.ajax({
        url: url,
        data: {
          'text_input': text_input
        },
        success: function (data) {
          $("#add_cast2").html(data);
;
            // if (ajaxResult.indexOf(data) === -1) ajaxResult.push(data);
        
        }
      });

 
  
    var e = document.getElementById("add_cast2");
    var strcast_text = e.options[e.selectedIndex].text;
    var strcast_id=e.options[e.selectedIndex].value

    // if (ajaxResult.indexOf(strcast_id) === -1) ajaxResult.push(strcast_id);
    if (ajaxResult.indexOf(strcast_text) === -1) ajaxResult.push(strcast_text);
    console.log(ajaxResult);
    $("#show_result").html(ajaxResult+",");
    // var arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0];

    // for( var i = 0; i < arr.length; i++){ 
    //    if ( arr[i] === 5) {
    //      arr.splice(i, 1); 
    //    }


    // }



    });


  </script>












{% endblock js%}
{% endblock content %}